<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to Banana Check</h1>
  <p class="lead">This site is for checking out products before you buy them.</p>
  <hr class="my-4">
  <p>Everyone around the world who has bought the product uploads reviews and videos of how well it was.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login to begin</a>
</div>
    
    
    
</div>


<%- include("partials/footer") %>